body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*header*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 15px;
    padding-right: 5px;
}
.header_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 18%;
}

.item_header_menu {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
    justify-content: space-around;
}

.item_header_menu_2 {
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
    justify-content: space-around;
}

.item_header_menu a{
    text-decoration: none;
    color: black;
    opacity: 0.8;
}

.google_apps img {
    width: 18px;
    height: 18px;
}

.photo_perfil img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}


/*body*/
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.section img {
    width: 260px;
    height: 85px;
    align-self: center;
}

.search_v2 {
    align-items: center;
    background-color: white;
    border: solid 1px  #e5e7e9;
    color: white;
    border-radius: 25px;
    padding-right: 10px;
    width:520px;
    margin-top: 30px;
}

.search_input_v2 {
    background-color: white;
    padding: 1px 0px;
    color:black;
    height: 35px;
    width: 80%;
    outline: none;
    border: 0;
}
.search_input_v2:hover {
    border:none;
}

.button1_v2 {
    width: 50px;
    height: 37px;
    border: none;
    border-radius: 25px 0px 0px 25px;
    align-self: flex-end;
    background-color: white;
}

.button1_v2 i {
    opacity: 0.4;
}

.shearch_options {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 350px;
    height: 58px;
    flex-direction: row;
    margin-top: 20px;

}

.shearch_options button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.google_service p {
    color:    #626567;
}

.google_service p a {
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    color: #626567;
    font-size: 13px;
}

.colombia {
    border-bottom: 1px solid #dadce0;
    padding-left: 25px;
}

.info_of_google {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.menu_footer {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;

}

.menu_2 {
    width: 25%;
}
